
<%= @cocktail.name %>
<br>
<% @cocktail.doses.each do |dose| %>
<p> Dosage: <%= dose.description%>
<p>Ingredient: <%= dose.ingredient.name %></p>
<%= link_to 'Delete', cocktails_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>

<%= link_to 'Back', root_path %> |
<%= link_to 'Create dose', new_cocktail_dose_path(@cocktail) %>




