
<h1><%= @cocktail.name %></h1>
<br>
<% @cocktail.doses.each do |dose| %>
<%= dose.description%> <%= dose.ingredient.name %> |
<%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' }%>
<br>
<% end %>
<br>

<%= link_to 'Back', root_path %> |
<%= link_to 'Create dose', new_cocktail_dose_path(@cocktail) %>




