<div class="container">
<% if @cocktail.photo.attached? %>
      <% path = cl_image_path @cocktail.photo.key%>
      <% else %>
      <% path = cl_image_path("rbnq62rdrevbimxqa2af", width: 400, height: 400, crop: :fill) %>
      <% end %>
      <!--  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= path %>);">
  <div class="container">
    <div class="cocktail-name">
    <h1><%= @cocktail.name %></h1>
    <p>
      <% @cocktail.doses.each do |dose| %>
      <ul>
        <li>
          <%= dose.description%>  <%= dose.ingredient.name.capitalize %> &nbsp;
          <%= link_to '<i class="fas fa-trash"></i>'.html_safe, dose_path(dose), method: :delete, data: { confirm: 'Are you sure?', class: "delete-button" }%>
        </li>
      </ul>
      <br>
      <% end %>
    </p>
    </div>
    <div class="menu">
    <%= link_to 'Back', root_path %> |
      <%= link_to 'Create dose', new_cocktail_dose_path(@cocktail) %> |
      <%= link_to "Edit", "#" %> |
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, @cocktail_path, method: :delete, data: { confirm: 'Are you sure?', class: "delete-button" }%>
    </div>
    <%= link_to "New Cocktail", new_cocktail_path, class: "bubu"%>
  </div>
</div>
</div>
